body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header,
.section-footer {
    background-color: #333;
    color: #fff;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
